<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Outfits</title>
</head>
<body>
    <header>
        <h2><a href="index.html">Home</a></h2>
        <nav>
            <a href="outfit.html">Outfit</a>
            <a href="favorites.html">Favorites</a>
            <a href="tips.html">Tips</a>
        </nav>
    </header>
    <main>


        <!-- <section>
            <div id="selectedJacket"><p>Jacket: </p><span></span></div>
            <div id="selectedShirt"><p>Shirt: </p><span></span></div>
            <div id="selectedPants"><p>Pants: </p><span></span></div>
            <div id="selectedShoes"><p>Shoes: </p><span></span></div>
        </section> -->

        <!-- <div id="buttonChoices">
            <button name="jackets" id="pickJacket">Jacket</button>
            <button name="shirts" id="pickShirt">Shirt</button>
            <button name="pants" id="pickPants">Pants</button>
            <button name="shoes" id="pickShoes">Shoes</button>
        </div>
        <button id="clearOptionsButton">Delete</button> -->

        <div id="imagesContainer">
            <img class="clothingImage" data-article-type="jackets" data-article-color="baseJacket" id="pickJacket" title="Jacket" src="/Users/justinlengvarsky/Desktop/outfit-generator/images/jackets/baseJacket.png">
            <img class="clothingImage" data-article-type="shirts" data-article-color="baseShirt" id="pickShirt" title="Shirt" src="/Users/justinlengvarsky/Desktop/outfit-generator/images/shirts/baseShirt.png">
            <img class="clothingImage" data-article-type="pants" data-article-color="basePants" id="pickPants" title="Pants" src="/Users/justinlengvarsky/Desktop/outfit-generator/images/pants/basePants.png">
            <img class="clothingImage" data-article-type="shoes" data-article-color="baseShoes" id="pickShoes" title="Shoes" src="/Users/justinlengvarsky/Desktop/outfit-generator/images/Shoes/baseShoe.png">
        </div>
        

        <div id="clothingOptions">

        </div>


        <!-- <ul id="clothingOptions">

        </ul> -->


            <!-- <button id="whiteShirt">White Shirt</button>
            <button id="lightBlueShirt">Light Blue Shirt</button>
            <button id="greyShirt">Grey Shirt</button>

            <ul id="jacket">Jacket: </ul>
            <ul id="pants">Pants: </ul>
            <ul id="shoes">Shoes: </ul> -->



            <!-- <div >
                <ul>
                <% for (let i=0; i<clothingArticles[0].articles.shirts[0].colors.length; i++) {%>
                    <li>
                    <p class="title"><%= clothingArticles[0].articles.shirts[0].colors[i] %></p>
                    </li>
                <% } %>
                 </ul>
            </div>  -->

          


        <!-- <ul id="generatorBox" class="books">
            <li class="generatorBoxClass">
                <h3>This is a clothing</h3>
                <p>This is more clothing</p>
            </li>
            <li class="generatorBoxClass">
                <h3>This is a clothing</h3>
                <p>This is more clothing</p>
            </li>
                <li class="generatorBoxClass">
                <h3>This is a clothing</h3>
                <p>This is more clothing</p>
            </li>
                <li class="generatorBoxClass">
                <h3>This is a clothing</h3>
                <p>This is more clothing</p>
            </li>
        </ul> -->
    </main>
    <!-- <footer>
        <p>Copyright 2022</p>
    </footer> -->
    <script src="public/main.js">
        
    </script>
</body>
</html>