<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Outfits</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav id="mainnav" class="group">
            <div id="outfitLogoMobile"><a href="/homepage">Home</a></div>
            <div id="menu">&#x2261;</div>
            <h2><a id="outfitLogo" href="/homepage">Home</a></h2>
            <ul>
                <li><a href="/outfit">Outfit</a></li>
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section id="homeText">
        <h1>Not sure what to wear at work?</h1>
        <h1>We got you covered.</h1>
    </section>
    <main id="tipsMain">
        <ul id="tipsList" class="books">
           
            <li id="firstTip" class="tipsListClass">
                <h3>This application shows a series of combinations ranging from business casual to professional. The combinations in our system show what will work, but is not meant to exclude outfits that are not included. If you have an outfit that is not listed but you believe would match, then go for it! This is meant as a guide for those unsure of where to start.</h3>
            </li>            

            <li class="tipsListClass">
                <h3>Belts: Typically will always be black, brown, or tan, and made with leather (sometimes suede). Belts should always be the same color as your shoes, and if possible try to match the metal on your buckle with the metal in your watch or other accessories. 
                    Any patterns on belts should be subtle as these are not statement pieces, but rather, finishing touches that bring your whole outfit together.</h3>
                  <img id="shoesBeltMatch" src="/images/pictures/shoesBeltMatch.webp">

            </li>

            <li id="tieMatchContainer" class="tipsListClass">
                <img id="tieMatch" src="/images/pictures/shirtTieMatchClose.png">

                <h3 id="tieMatchText">Ties: The safest route is choosing a color that is the same as your shirt but a darker shade so that it stands out. If your shirt is white than you can apply the same rule to the color of your jacket. The more solid and singular colored, the easier it will be to match your tie with your outfit. If you're having difficult matching a tie color to your outfit, see if the inside of your sports jacket has a different color. Typically this inline color is a great choice for tie color. For length, the bottom of the tie should just barely cover the entire belt buckle.</h3>
            </li>

            <li class="tipsListClass">
                <h3 class="dualImagesText">Matching Suits: This app includes outfits with pants and suits that have different colors. It is important to note that these outfits work but for more business casual dress codes. For strict business professional environments, the pants and suit MUST match.</h3>
                <img class="dualImages" src="/images/pictures/businessCasualOutfit.jpg">
                <img class="dualImages" src="/images/pictures/businessProfessionalOutfitCopy.png">
            </li>
        </ul>
    </main>
    <footer>
        <p>Copyright 2022</p>
    </footer>
</body>
</html>