<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Outfits</title>
</head>
<body>
    <header>
        <h2><a href="index.html">Home</a></h2>
        <nav>
            <a href="outfit.html">Outfit</a>
            <a href="favorites.html">Favorites</a>
            <a href="tips.html">Tips</a>
        </nav>
    </header>
    <main>



            <button id="whiteShirt">White Shirt</button>
            <p id="jacket">Jacket: </p>
            <p id="pants">Pants: </p>
            <p id="shoes">Shoes: </p>



            <!-- <div >
                <ul>
                <% for (let i=0; i<clothingArticles[0].articles.shirts[0].colors.length; i++) {%>
                    <li>
                    <p class="title"><%= clothingArticles[0].articles.shirts[0].colors[i] %></p>
                    </li>
                <% } %>
                 </ul>
            </div>  -->

          


        <!-- <ul id="generatorBox" class="books">
            <li class="generatorBoxClass">
                <h3>This is a clothing</h3>
                <p>This is more clothing</p>
            </li>
            <li class="generatorBoxClass">
                <h3>This is a clothing</h3>
                <p>This is more clothing</p>
            </li>
                <li class="generatorBoxClass">
                <h3>This is a clothing</h3>
                <p>This is more clothing</p>
            </li>
                <li class="generatorBoxClass">
                <h3>This is a clothing</h3>
                <p>This is more clothing</p>
            </li>
        </ul> -->
    </main>
    <footer>
        <p>Copyright 2022</p>
    </footer>
    <!-- <script src="main.js">
        
    </script> -->
</body>
</html>