<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav id="mainnav" class="group">
            <div id="outfitLogoMobile"><a href="/homepage">Stylo</a></div>
            <div id="menu">&#x2261;</div>
            <h2><a id="outfitLogo" href="/homepage">Stylo</a></h2>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a id="signUpButton" href="/signup">Signup</a></li>
            </ul>
        </nav>
    </header>
    <section id="indexHead">
        <div id="indexImage">
            <div class="articleDiv" id="jacketDiv">
                <div>
                    <img id="jacketImage" class="indexGeneratorBoxClass" data-article-type="jackets" data-article-color="baseJacket" data-default-value="baseJacket" id="pickJacket" title="Jacket" src="/images/jackets/baseJacket.png">
                </div>
            </div>
            <div class="articleDiv" id="shirtDiv">
                <div>
                    <img id="shirtImage" class="indexGeneratorBoxClass" data-article-type="shirts" data-article-color="baseShirt" data-default-value="baseShirt" id="pickShirt" title="Shirt" src="/images/shirts/baseShirt.png">
                </div>
            </div>
            <div class="articleDiv" id="pantsDiv">
                <div>
                    <img id="pantsImage" class="indexGeneratorBoxClass" data-article-type="pants" data-article-color="basePants" data-default-value="basePants" id="pickPants" title="Pants" src="/images/pants/basePants.png">
                </div>
            </div>
            <div class="articleDiv" id="shoesDiv">
                <div>
                    <img id="shoesImage" class="indexGeneratorBoxClass" data-article-type="shoes" data-article-color="baseShoes" data-default-value="baseShoes" id="pickShoes" title="Shoes" src="/images/shoes/baseShoes.png">
                </div>
            </div>
        </div>
        
        <div id="indexText">
            <h1>Redefine Your Fashion.</h1>
            <h3>Learn how to match what's in your closet</h3>
            <div>
                <a href="/guest">Try Now</a>
            </div>
        </div>
    </section>
    <section id="indexSecondText">
        <h1>Not sure what to wear at work?</h1>
        <h1>We got you covered.</h1>
    </section>
    <section id="tipsMain">
            <div id="firstTip" class="tipsListClass">
                <h3>This application presents combinations of business casual to professional outfits for the workplace. The combinations in our system show what will work, but is not meant to exclude outfits that are not included. This app serves as a visual guide for those unsure of where to start.</h3>
            </div>      
    </section>
    <footer>
        <p>Copyright 2022</p>
    </footer>
    <script>
        $(document).ready(function() {
            // JQUERY NAV TOGGLE
            $('#menu').bind('click',function(event){
                $('#mainnav ul').slideToggle();
            });

            $(window).resize(function(){  
                var w = $(window).width();  
                if(w > 768) {  
                    $('#mainnav ul').removeAttr('style');  
                }  
            });
        });
    </script>
    <script src="/js/index.js"></script>

</body>
</html>