<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="navbar bg-base-100">
            <div class="flex-1">
              <a a href="/homepage" class="btn btn-ghost normal-case text-xl">Stylo</a>
            </div>
            <div class="flex-none">
              <ul class="menu menu-horizontal px-1">
                <li><a href="/login">Login</a></li>
                <li><a id="signUpButton" href="/signup">Signup</a></li>
              </ul>
            </div>
          </div>
    </header>

    <div class="hero min-h-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Redefine Your Fashion.</h1>
            <p class="mb-5">Learn how to match what's in your closet</p>
            <button class="btn btn-primary">Get Started</button>
          </div>
        </div>
      </div>

      <div class="carousel rounded-box" data-bs-ride="carousel">
        <div class="carousel-item">
          <img src="https://placeimg.com/400/300/arch" alt="Burger" />
        </div> 
        <div class="carousel-item">
          <img src="https://placeimg.com/400/300/arch" alt="Burger" />
        </div> 
        <div class="carousel-item">
          <img src="https://placeimg.com/400/300/arch" alt="Burger" />
        </div> 
        <div class="carousel-item">
          <img src="https://placeimg.com/400/300/arch" alt="Burger" />
        </div> 
        <div class="carousel-item">
          <img src="https://placeimg.com/400/300/arch" alt="Burger" />
        </div> 
        <div class="carousel-item">
          <img src="https://placeimg.com/400/300/arch" alt="Burger" />
        </div> 
        <div class="carousel-item">
          <img src="https://placeimg.com/400/300/arch" alt="Burger" />
        </div>
      </div>

    <section id="indexHead">
        <div id="indexImage">
            <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body" id="jacketDiv">
                    <figure><img id="jacketImage" class="indexGeneratorBoxClass" data-article-type="jackets" data-article-color="baseJacket" data-default-value="baseJacket" id="pickJacket" title="Jacket" src="/images/jackets/baseJacket.png" alt="Shoes" /></figure>
                </div>
            </div>
            <div class="card w-96 bg-base-100 shadow-xl" id="shirtDiv">
                <div class="card-body" id="jacketDiv">
                    <figure><img id="shirtImage" class="indexGeneratorBoxClass" data-article-type="shirts" data-article-color="baseShirt" data-default-value="baseShirt" id="pickShirt" title="Shirt" src="/images/shirts/baseShirt.png" alt="Shoes" /></figure>
                </div>
            </div>
            <div class="card w-96 bg-base-100 shadow-xl" id="pantsDiv">
                <div>
                    <figure><img id="pantsImage" class="indexGeneratorBoxClass" data-article-type="pants" data-article-color="basePants" data-default-value="basePants" id="pickPants" title="Pants" src="/images/pants/basePants.png"></figure>
                </div>
            </div>
            <div class="card w-96 bg-base-100 shadow-xl" id="shoesDiv">
                <div>
                    <figure><img id="shoesImage" class="indexGeneratorBoxClass" data-article-type="shoes" data-article-color="baseShoes" data-default-value="baseShoes" id="pickShoes" title="Shoes" src="/images/shoes/baseShoes.png"></figure>
                </div>
            </div>
        </div>
        
        <div id="indexText">
            <h1>Redefine Your Fashion.</h1>
            <h3>Learn how to match what's in your closet</h3>
            <div>
                <a href="/guest">Try as Guest</a>
            </div>
        </div>
    </section>
    <section id="indexSecondText">
        <div class="tipsListClass">
            <h1>What should I wear to work today?</h1>
            <p>The infamous question before leaving for work. What initially seems like a simple problem becomes more puzzling with each day. This application presents combinations of business casual to professional outfits for the workplace. This app serves as a visual guide for those unsure of where to start and as a tool to up your style.</p>
            <a href="/signup">Get Started</a>
        </div>  
        <img src="images/pictures/wardrobe.jpg">
    </section>
    <footer>
        <p>&#169 Copyright 2022</p>
    </footer>
    <script>
        $(document).ready(function() {
            // JQUERY NAV TOGGLE
            $('#menu').bind('click',function(event){
                $('#mainnav ul').slideToggle();
            });

            $(window).resize(function(){  
                var w = $(window).width();  
                if(w > 768) {  
                    $('#mainnav ul').removeAttr('style');  
                }  
            });
        });
    </script>
    <script src="/js/index.js"></script>
</body>
</html>