<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Outfits</title>
</head>
<body>
      <header>
        <h2><a href="/homepage">Home</a></h2>
        <nav>
            <a href="/outfit">Outfit</a>
            <a href="/favorites">Favorites</a>
            <a href="/tips">Tips</a>
        </nav>
    </header>

    

    <section>
        <h1 id="one">COLOR TEST</h1>
        <h1 id="two">COLOR TEST</h1>
        <h1 id="three">COLOR TEST</h1>
        <h1 id="four">COLOR TEST</h1>
        <h1 id="five">COLOR TEST</h1>
        <h1 id="six">COLOR TEST</h1>
    </section>

    <h2>You hav <%= message %> things.</h2>
    <h2>Dictionary: <%= JSON.stringify(dictionary) %> </h2>
    <% console.log(dictionary) %>



    <main>
        <section id="generatorBox" class="books">
            <img class="generatorBoxClass clothingImage" data-article-type="jackets" data-article-color="baseJacket" data-default-value="baseJacket" id="pickJacket" title="Jacket" src="/images/jackets/baseJacket.png">
            <img class="generatorBoxClass clothingImage" data-article-type="shirts" data-article-color="baseShirt" data-default-value="baseShirt" id="pickShirt" title="Shirt" src="/images/shirts/baseShirt.png">
            <img class="generatorBoxClass clothingImage" data-article-type="pants" data-article-color="basePants" data-default-value="basePants" id="pickPants" title="Pants" src="/images/pants/basePants.png">
            <img class="generatorBoxClass clothingImage" data-article-type="shoes" data-article-color="baseShoes" data-default-value="baseShoes" id="pickShoes" title="Shoes" src="/images/shoes/baseShoes.png">
        </section>

        <div id="optionButtons">
            <button id="saveButton">Save</button>
            <button id="clearButton">Delete</button>
        </div>
    
        <div id="clothingOptions">

        </div>




    </main>
    <footer>
        <p>Copyright 2022</p>
    </footer>
    <script>
        let dictionary = '<%-dictionary%>';
        console.log(dictionary.name);
    </script>

    <!-- <script src="/js/main.js"></script> -->
</body>
</html>