<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h2><a href="/homepage">Home</a></h2>
        <nav>
            <a href="/outfit">Outfit</a>
            <a href="/favorites">Favorites</a>
            <a href="/login">Login</a>
        </nav>
    </header>
    <section id="signUpArea">

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="User Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <button id="signUpSubmit" type="submit">Submit</button>
    </form>
    </section> 
    <footer>
        <p>Copyright 2022</p>
    </footer>
</body>
</html>