
/* BODY
================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

main {
    padding: 0 5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #2E1F5B;
    background: -moz-linear-gradient(-45deg, #2E1F5B 0%, #6946DE 45%, #6946DE 100%);
    background: -webkit-linear-gradient(-45deg, #2E1F5B 0%, #6946DE 45%, #6946DE 100%);
    background: linear-gradient(135deg, #2E1F5B 0%, #6946DE 45%, #6946DE 100%);
}

/* NAVIGATION / FOOTER
================================================== */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    padding: 0 10%;
    color: white;
}

header h2 {
    font-size: 3rem
}

h2 a {
    text-decoration: none;
    color: rgb(223, 208, 249);
    font-style: italic;
}

nav a {
    line-height: 5rem;
    margin-left: 2.5rem;
    font-size: 2rem;
    text-decoration: none;
    color: rgb(223, 208, 249);
}

footer {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    padding: 0 10%;
    color: rgb(223, 208, 249);
    margin-top: auto;
    overflow: hidden;
}

/* LOGIN
================================================== */

#loginArea {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

#loginArea form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginArea input {
    width: 40%;
    height: 2rem;
    margin: 1rem auto;
}

#loginArea form #loginSubmit {

    margin: 1rem auto;
    width: 5%;
    height: 2rem;
}

/* SIGN UP
================================================== */

#signUpArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#signUpArea form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signUpArea input {
    width: 40%;
    height: 2rem;
    margin: 1rem auto;
}

#signUpArea form #signUpSubmit {
    margin: 1rem auto;
    width: 5%;
    height: 2rem;
}


.lowOpacity {
    opacity: 0.5;
}

/* FIRST PAGE
================================================== */

#indexText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 50%;
    margin: 10rem 0 0 45rem;
    line-height: 4rem;
}

#indexText h1{
 color:rgb(223, 208, 249);
 font-size: 4rem;
}

#indexText h3{
    color:rgb(223, 208, 249);
    font-size: 2rem;
}

#indexText div{
    display: flex;
    flex-direction: row;
}

#indexText a{
    color:rgb(223, 208, 249);
    font-size: 2rem;
    margin-right: 3rem;
}

#signUpButton{
    text-align: center;
    color:rgb(46, 31, 91) !important;
    background-color:rgb(223, 208, 249);
    width: 7rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 5%;
}

/* HOME PAGE
================================================== */

#homeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 4rem;
    margin-top: 5rem;
}

#homeText h1{
    color:rgb(223, 208, 249);
    font-size: 3rem;
}

.tipsListClass {
    margin: 2rem 0;
    color: #EDF0DA;
}

#tipsMain {
    padding: 0 10%;
}

.tipsListClass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin: 6rem 0;
}
 
.tipsListClass h3 {
    width: 50%;
    display: inline-block;
}

.tipsListClass img {
    display: inline;
    width: 25rem;
    height: 18rem;
}

#firstTip h3 {
    text-align: center;
    width: 80%;
    margin: 2rem auto;
}

.tipsListClass .dualImages {
    display: inline;
    width: 20rem;
    height: 15rem;
}

.tipsListClass .dualImagesText {
    width: 30%;
    display: inline-block;
}


/* GENERATOR PAGE
================================================== */

#one {
    color: rgb(46, 31, 91)
}

#two {
    color: rgb(223, 208, 249)
}

#three {
    color: rgb(105, 70, 221)
}

#four {
    color: rgb(117, 201, 200)
}

#five {
    color: #8769E4
}

#six {
    color: rgb(164, 139, 235)
}

#generatorBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 15rem;
    flex-wrap: wrap;
    line-height: 2rem;
    margin-top: 3rem;
}

.generatorBoxClass {
    list-style-type: none;
    object-fit: scale-down;
    border-radius: 5%;
    border: 5px solid  rgb(164, 139, 235);
    width: 40%;
    height: 15rem;
    background-color: rgb(223, 208, 249);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    font-size: 1rem;
    padding: 2%;
    word-wrap: break-word;
    text-align: center;
    opacity: 0.7;
    margin: .1rem
}

/* FAVORITES 
================================================== */

#space {
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 0 15rem;
    flex-wrap: wrap;
    line-height: 2rem;
    margin-top: 3rem;
}

#allFavorites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.favoritesItem {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    width: 40%;
    height: 20rem;
}

.favoritesBoxClass {
    list-style-type: none;
    /* object-fit: scale-down; */
    border-radius: 5%;
    border: 5px solid  rgb(164, 139, 235);
    width: 16rem;
    height: 10rem;
    background-color: rgb(223, 208, 249);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    word-wrap: break-word;
    text-align: center;
}

.del {
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 2rem;
    width: 4rem;
    height: 2rem;
    margin: 0.5rem 1rem;
}

.edit {
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 2rem;
    width: 4rem;
    height: 2rem;
    margin: 0.5rem 1rem;
}


#optionButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem auto;
}

.input{
    display: none;
}

#optionButtons button {
    margin: 0 2rem;
    height: 2rem;
    width: 4rem;
    border-radius: 10%;
}

#editOptionInputs {
    display: none;
    flex-direction: row;
    justify-content: center;
    margin: 3rem auto;
}

#editOptionInputs button {
    margin: 0 2rem;
    height: 2rem;
    width: 4rem;
    border-radius: 10%;
}

#clothingOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    line-height: 2rem;
    margin: 3rem auto;
    min-height: 10rem
}

#editClothingOptions {
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    line-height: 2rem;
    margin: 3rem auto;
    min-height: 10rem
}


.articleListBoxClass {
    list-style-type: none;
    border-radius: 5%;
    border: 5px solid rgb(164, 139, 235);
    margin: 0.5rem;
    width: 20%;
    height: 10rem;
    order: 1;
    background-color: #F6F2FF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    font-size: 1rem;
    word-wrap: break-word;
    text-align: center;
}

/* MEDIA QUERIES
Description: Define screen-size breakpoints here.
(e.g. Desktop, Tablet, Mobile)
===================================== */

/* Tablet (Between 768px - 992px)*/
@media all and (min-width: 768px) and (max-width: 992px) {

}

/* MOBILE (Smaller than 768px)*/
@media all and (max-width: 767px) {
	
}